*{
    margin: 0px;
}
body{
    padding: 50px;
}
button{
    height: 50px;
    width:100px;
    border: none;
    outline: none;
    background: #ccc;
    cursor: pointer;
    margin-bottom: 20px;
}
button.active{
    background-color: #aaa;
}

.row .column{
    height: 100px;
    padding: 20px;
    /* animation: opac .75s ease; */
}

.row{
    grid-template-columns: repeat(2,1fr);
}

/* @keyframes opac {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
} */