*{
    margin: 0px;
}
.navbar{
    background: #234;
    overflow: hidden;
}
.navbar a{
    text-decoration: none;
    color: white;
    display: block;
    float: left;
    padding: 15px 20px;
    text-align: center;
    font-size: 18px;
}
.navbar a.active{
    background: #00aa00;
}

.navbar a:hover{
    background: #def;
    color: black;
}

@media screen and (max-width:600px){
    .navbar a{
        float: none;
        text-align: left;
    }
}